@charset "utf-8";
/* User: Eric Ma  
/* Email: zjafei@gmail.com
/* Date: 2015/6/4 */
/* Time: 19:57 */
body{
    background-color: #fff;
}
.user-center-address-form {
    padding: 20px 20px 0;
    width: 500px;
    font-size: 14px;
}
.user-center-address-form .control-label span {
    color: #fff;
    display: inline-block;
    height: 5px;
    line-height: 5px;
    overflow: hidden;
    padding-top: 2px;
}

.user-center-address-form .control-label span.required {
    color: #f00;
}

select.form-control {
    display: inline-block;
    width: 120px;
}

textarea.form-control {
    height: 90px;
    resize: none;
}


select.form-control:first-child {
    margin-left: 0;
}
select.form-control {
    display: inline-block;
    margin-left: 20px;
    width: 120px;
}
.js-alert-msg {
    margin-top: 5px;
    font-size: 12px;
}